.vscode

# データ・ソースのフォルダ管理
assembler/out/*
!assembler/out/.gitkeep
assembler/source/*
!assembler/source/.gitkeep
simulator/code/*
!simulator/code/.gitkeep
simulator/data/*
!simulator/data/.gitkeep
simulator/out/*
!simulator/out/.gitkeep
simulator/result/*
!simulator/result/.gitkeep
source/*
!source/.gitkeep

# 実行ファイルなどの管理
assembler/**/*.cmi
assembler/**/*.cmx
assembler/**/*.o
assembler/**/*.output
assembler/lexer.ml
assembler/parser.ml
assembler/parser.mli
assembler/asm
simulator/**/*.o
simulator/sim
simulator/server
simulator/fpu_test
