.vscode
assembler/out/*
!assembler/out/.gitkeep
assembler/source/*
!assembler/source/.gitkeep
simulator/code/*
!simulator/code/.gitkeep
simulator/data/*
!simulator/data/.gitkeep
simulator/result/*
!simulator/result/.gitkeep
source/*
!source/.gitkeep